/* Styling for the 4 pages: index, AboutUs, Activities, ContactInfo */

body {
  background-color:darkseagreen;
  display: flow-root;
}
/* This adjusts height of the header element */
.header {
background-color: forestgreen;
width: 625px;
font-size: 40px;
text-align: center;
margin: auto; 
margin-top: 35px; /* Main webpage height value adjuster */
margin-bottom: 15px;
padding: 15px 25px; 
padding-bottom: 20px;
border: 2px solid black;
}
/* This removes the blue underline */
.header a {
    text-decoration: none;      
    color: black;               
    font-weight: bold;
}

img {
  display: block;    
  margin-left: auto; 
  margin-right: auto;
  width: 678px;      

}
/* This div centers the main banner position */
.bannerposition{
    margin-top: 45px;
    margin-bottom: 25px;
}
/* This is the green navigation bar rectangle */
nav {
    display: flex;
    justify-content: center;
    background-color: forestgreen;
    width: 625px; 
    margin: auto; 
    padding: 15px 25px; 
    border: 2px solid black; 
}

/* Classic grey navigation button */
.nav-button {
    background-color: darkgray; 
    margin: 10px;               
    padding: 15px 25px;         
    border: 2px solid black;    
}
/* This removes the blue underline */
.nav-button a {
    text-decoration: none;     
    color: black;             
    font-weight: bold;
}

/* This is the stadard good review box in the footer */
.goodreview {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: forestgreen;
    width: 658px; 
    margin: auto;
    margin-top: 20px; 
    padding: 10px 10px;
    border: 2px solid black;
}

.goodreview h4, .goodreview p {margin: 5px 0;}

/* ELEMENTS FOR "ContactInfo" PAGE */

.contact-title {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    color: black;
}

.contact-box {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    background-color: burlywood;
    width: 400px; 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    border: 2px solid black;
}
/* This shrinks the vertical gap between the lines */
.contact-box h2, .contact-box p {margin: 3px 0;} 

/* BUTTONS FOR "Activities" PAGE */
.button-container {
    display: flex;            
    flex-direction: row;      
    justify-content: center;  
    gap: 130px;                
    margin-top: 30px;         
    width: 100%;              
}

/* Colourful buttons for Activities Page [colours used: ORNAGERED, ROYALBLUE, MAGENTA #cb6ce6] */
/* CLASSIC GREY COLOUR */
.activities-button {
    background-color: darkgray;
    padding: 15px 25px;
    border: 2px solid black;
    text-align: center;
    display: block;          
}
.activities-button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
/* ORANGERED COLOUR */
.activities-button-orange {
    background-color: orangered;
    padding: 15px 25px;
    border: 2px solid black;
    text-align: center;
    display: block;          
}
.activities-button-orange a {
    text-decoration: none;
    color: black;
    font-weight: bold;}
/* ROYALBLUE COLOUR */
.activities-button-blue {
    background-color: royalblue;
    padding: 15px 25px;
    border: 2px solid black;
    text-align: center;
    display: block;          
}
.activities-button-blue a {
    text-decoration: none;
    color: black;
    font-weight: bold;}
/* MAGENTA #cb6ce6 COLOUR */
.activities-button-magenta {
    background-color: #cb6ce6;
    padding: 15px 25px;
    border: 2px solid black;
    text-align: center;
    display: block;          
}
.activities-button-magenta a {
    text-decoration: none;
    color: black;
    font-weight: bold;}

/* IMAGES FOR "Activities" PAGE */
.activity-thumb {
    width: 100%;      
    height: auto;    
    border-radius: 8px;
    margin: 10px;
}

.activity-images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* BUTTONS for "Activities" page */
.button-container {
    display: flex;            
    flex-direction: row;     
    justify-content: center;  
    gap: 130px;                
    margin-top: 30px;         
    width: 100%;              
}

.activities-button {
    background-color: darkgray;
    padding: 15px 25px;
    border: 2px solid black;
    text-align: center;
    display: block;
}

.activities-button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Manipulating the size of the little images */
.activity-thumb {
    width: 300px;         
    height: 200px;        
    object-fit: cover;   

}

.activity-images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.activity-group {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 200px;           
    gap: 10px;              
}

/* Styling the "Activities of Lockquarry" heading on the "Activities" page */

.activities-title {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 12px;       
}

/* Moving the "Activities of Lockquarry" text down */

.activities-body .activities-title {
    margin-top: 70px; 
    margin-bottom: 70px;
    display: block;
}

/* Moving the "Good reviews bar" of "Activities" page down */

.activities-body .goodreview {
    margin-top: 150px; 
    margin-bottom: 60px; 
}
/* Logo positioning for "ContactUs" and "AboutUs" pages */
.logo-contactinfo {
  display: block;     
  margin-left: auto;   
  margin-right: auto;  
  width: 270px;
}

.logo-aboutus {
  display: block;     
  margin-left: auto;   
  margin-right: auto;  
  width: 290px;
}

/* Adjusting the text style of "AboutUs" introductory paragraph */
.aboutus-intro {
    width: 70%;           
    max-width: 950px;    
    margin-left: auto;    
    margin-right: auto;
    text-align: center;
    font-size:22px;
    font-weight: 500;
}
/*copyright text*/
.copyright-text{
    text-align: center;
    margin-left: auto;   
    margin-right: auto;
    font-size: 15px;
    margin-top: 19px;
    margin-bottom: 19px;
}
/* "Activities" small text */

.activities-small{
    text-align: center;
    margin-left: auto;   
    margin-right: auto;
    font-size: 20px;
    margin-top: 60px;
    font-weight: 1000;
    font-family:cursive;
}

.activities-body .goodreview {
    margin-top: 80px;
    margin-bottom: 18px; 
}
/* STAFF MEMBERS - PHOTOS & INFORMATION */
/* Staff Photos */
.staffphoto {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Staff info allignment */
.staffinfo {
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    text-align: left; 
    font-size: 20px;
}
/* moving "time and date" to the middle*/
.timebox {
    text-align: center;  
    margin-top: 20px;   
    margin-bottom: 20px;   
}
/*styling the clock feature*/
#dt {
    font-size: 18px;        
    color: #333;             
}